%script#locations-template{type:"text/x-handlebars-template"}
  %ul
    each devLocations
    / %li.location {data: {id: = id }}
    %li.location
      %div
        %strong = name
        / %strong = address
    / {{/each}}
