%h1 This is the Dashboard Template that will be filled in with a user's details (using Backbone.js)


Timer
=check_box_tag :timer_toggle, 1, true
#timer-elements
	=label_tag :time
	=select_tag :time, options_for_select([["3 seconds", 0.05], ["10 minutes", 10], ["15 minutes", 15], ["20 minutes", 20], ["30 minutes", 30], ["45 minutes", 45], ["60 minutes", 60]])
	=submit_tag "Start Timer", id: "start_timer_button"
	%p#timer

