= javascript_include_tag "./location_map/location_map"

#main.eight.columns
  %h1 DevelUp
  %p Find coding-friendly locations nearby
  %p Increase your productivity

.gmap-container.eight.columns
  #gmap-canvas

#locations


= render partial: 'location'
