= javascript_include_tag "location_map"

.gmap-container.twelve.columns
	#gmap-canvas
		#gif-map
			= image_tag "ajax-loader.gif"

#locations


#nearby-location-container

/     %li.location{data: {id: "{{id}}" }}
/       %div
/         %strong {{name}}
/     {{/each}}






= render partial: 'location'
