%h1 Developer Productivity
%p this is the homepage that will show a list of locations that a developer can work at
%p it will also show some github analytics

- if current_user
  %a{:href => "/github", :title => "Test github_call"} Test

%br

%button Add Location
#location_form
/ = form_tag '/locations' do
/ = field_set_tag do
/   = label_tag :name, 'Name:'
/   = text_field_tag :name
/   = label_tag :address, 'Address:'
/   = text_field_tag :address
/   / add more fields for the rest
/   = submit_tag 'Save Changes'
/ create a form for a new location

#locations
#detail

= render partial: 'location'
= render partial: 'detail'
