// =============================================================
// VARIABLES
// =============================================================

$blue: #2F7ED8;
$white: #ffffff;
$black: rgba(0,0,0,.8);
$light-gray: rgba(0,0,0,.2);
$dark-gray: rgba(0,0,0,.6);
$button-color: #ca6612;


// test colors & attributes

p {
  background: pink;
}

#container {
  background: yellow;
}

// =============================================================
// Template (Application.html.haml)
// =============================================================
body, #container, #side_nav {
  height: 100%;
}

header {
  margin: 25px;
}

aside{
  height: 100%;
  background: red;
}


.github {
  background: url("../img/iconmonstr-github-9-icon-32.png") no-repeat;
}

#side_nav {
  // float: left;
  // height: 100%;
  background: $white;
  margin-top: 100px 50px;
  text-align: left;
  li {
    margin: 50px;
    font-size: 18px;
    a {
      text-decoration: none;
      font-family: Gudea;
      text-transform: uppercase;
      color: $blue;
      &:hover {
      background: $blue;
      color: $white;
      }
    }
  }
}

#login_nav {
  // margin-top: 30px;
  font-family: Gudea;
  color: $black;
  a {
    // float: right;
    text-decoration: none;
    display: inline-block;
    font-family: Gudea;
    background: $blue;
    color: $white;
    padding: 10px;
    border-radius: 4px;
    &:hover {
      background: darken($blue, 4%);
    }
  }
}
// =============================================================
// Homepage view
// =============================================================

h1 {
  font-size: 36px;
  margin: 0 auto;
  color: $black;
}

p {
    // margin-top: 10px;
    font-size: 16px;
    color: $dark-gray;
  }


input {
  border: 0;
  padding: 5px;
  width: 200px;
  font-size: 18px;
  background: $light-gray;
  color: $dark-gray;
}

input[type="submit"] {
  background: $blue;
  color: $white;
  &:hover {
    background: darken($blue, 4%);
  }
}

#main {
  margin-top: 20px 0px;
  font-family: Gudea, Arial, sans-serif;
}

.margin-display {
  margin: 0 auto;
  display: inline-block;
}


// =============================================================
// IDs
// =============================================================


// timer-------------------------
#timer-elements {
	display: show;
}


// session / sitting buttons----------------
#start-sitting-button{
  display: show;
}

#end-sitting-button{
  display: none;
}




// =============================================================
// CLASSES
// =============================================================



// =============================================================
// Google Maps
// =============================================================

.gmap-container {
  max-width: 100%;
  min-width: 320px;
  diplay: inline-block;
  // width: 600px;
  // margin: 0 auto;
}

#gmap-canvas {
  height: 450px;
  width: 680px;
  display: inline-block;
  // margin: 50px auto;
}

// =============================================================
// Locations show view
// =============================================================

#location_view {
  font-family: Gudea;
  font-size: 16px;
  margin: 10px;
  span {
    margin: 10px;
    font-weight: bold;
  }
}


#edit-location-button {
  font-family: Helvetica;
  background: $blue;
  color: $white;
  padding: 10px;
  width: 50px;
  &:hover {
    background: darken($blue, 4%);
  }
}

#nearby-location-container {

}



// =============================================================
// Flash message
// =============================================================

#notice_container {
  width: 100%;
  margin: 0 auto;
  background-color: #CFC;
  text-align: center;
  font-size: 20px;
}

#flash_notice {
    padding: 5px 8px;
    margin: 10px 0;
    background-color: #CFC;
    border: solid 1px #6C6;
    text-align: center;
}
