// =============================================================
// VARIABLES
// =============================================================

$blue: #2F7ED8;
$white: #ffffff;
$light-gray: rgba(0,0,0,.2);
$button-color: #ca6612;


// =============================================================
// Application.html.haml
// =============================================================


#login_nav {
  float: right;
  height: 100px;
  margin-top: 20px;
  a {
    text-decoration: none;
    font-family: Helvetica;
    background: $blue;
    color: $white;
    padding: 10px;
    &:hover {
      background: darken($blue, 4%);
    }
  }
}

.github {
  background: url("../img/iconmonstr-github-9-icon-32.png") no-repeat;
}

#side_nav {
  float: left;
  height: 600px;
  background: $white;
  padding-top: 50px;
  text-align: left;
  li {
    margin: 50px;
    font-size: 18px;
    a {
      text-decoration: none;
      font-family: Gudea;
      text-transform: uppercase;
      color: $blue;
      &:hover {
      color: darken($blue, 10%);
      }
    }
  }
}



// =============================================================
// IDs
// =============================================================


// timer-------------------------
#timer-elements {
	display: show;
}


// session / sitting buttons----------------
#start-sitting-button{
  display: show;
}

#end-sitting-button{
  display: none;
}




// =============================================================
// CLASSES
// =============================================================




// =============================================================
// Homepage view
// =============================================================


#main {
  margin-top: 50px;
  font-family: Gudea, Arial, sans-serif;
  h1 {
    font-size: 36px;
    margin: 20px auto;
  }
}

input {
  border: 0;
  padding: 5px;
  width: 200px;
  font-size: 18px;
  background: $light-gray;
  color: #8c8c8c;
}

input[type="submit"] {
  background: $blue;
  color: $white;
  &:hover {
    background: darken($blue, 10%);
  }
}

.gmap-container {
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

#gmap-canvas {
  height: 400px;
  width: 600px;
  margin: 50px auto;
}

// =============================================================
// Locations show view
// =============================================================

#location_view {
  font-family: Gudea;
  font-size: 16px;
  margin: 10px;
  span {
    margin: 10px;
    font-weight: bold;
  }
}


#edit-location-button {
  font-family: Helvetica;
  background: $blue;
  color: $white;
  padding: 10px;
  width: 50px;
  &:hover {
    background: darken($blue, 4%);
  }
}
